@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* font-family: 'Outfit', sans-serif;
font-family: 'Roboto Slab', serif; */

*{
    
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
    box-sizing: border-box;
}

 /* width */
 ::-webkit-scrollbar {
    width: 5px;
   
  }

  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 5px;
    background:var(--scroll-gray) ;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: var(--black);
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--yellow);
  }

:root{
    --yellow:rgb(255, 205, 79);
    --black:#262626;
    --blackHover:#474747;
    --white:#FFFFFF;
    --gray:#707070;
    --scroll-gray:rgb(139, 139, 139);
    --light-gray:#E2E8F0;
    --dificulty:#47FF7B;
    --type:#FFE247;
    --white-hover: #f5f5f5;
}

p{
    color: var(--gray);
}


.dashboard{
    display: grid;
    grid-template-columns: minmax(120px,10%) auto;
    grid-template-rows: auto 5fr;
    height: 100vh;
    
}

.menu{
    background-color: var(--yellow);
    grid-column: 1;
    grid-row: 1/3;
    gap: 2em;
    display: grid;
    grid-template-rows: auto 3fr 1fr;
    justify-content: center;
    justify-items: center;
    
}

.menu >*:nth-child(3){
    align-self: center;
}

.logo{
    display: flex;
    justify-self: center;
    align-items: center;
    margin-top: 20px;
    
    color: var(--black);
    font-family: 'Roboto Slab', serif !important;
    font-weight: bolder;
    font-size: 14px;
}

.logo i{
    font-size: 20px;
}

.menu ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1em;
}


.menu ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: var(--black);
    cursor: pointer;
    user-select: none;
}
.menu ul li:hover{ 
    color: #000000;
}

.option:hover{
    text-decoration: underline 5px black;
}
.option{
    font-weight: 500;
    font-size: 20px;
}

.nav{
    background-color: var(--white);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    grid-column: 2;
}



.userImg{
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 50%;
    object-fit:cover;
    
}

.nav{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: 2fr 1fr;
    padding: 20px 20px 10px 20px;
    row-gap: 10px;
}

.userInfo{
    display: flex;
    gap: 1em;
    justify-content: flex-start;
    align-items: flex-end;
    grid-column: 1/3;
   
}
.userInfo h5{
    font-weight: 400;
    font-size: 15px;
}
.userInfo h3:nth-child(2){
    font-weight: 400;
}
.userInfo > div div{
    display: flex;
    flex-wrap: wrap;
    gap: 0em .5em;
}

.bell{
    cursor: pointer;
    background-color: var(--black);
    width: 50px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    justify-self: flex-end;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.bell i{
    color: var(--white);
    font-size: 1.3em;
}

.search{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.search i{
    position: relative;
    left: 26px;
    color: var(--gray);
}
#searchBar{
    grid-column: 1/3;
    
    width: 100%;
    max-width: 400px;
    
    height: 100%;
    
    padding: 0em 30px;
    border-radius: 50px;
    
    color: var(--black);
    background-color: var(--light-gray);
    border-style: none;
}
#searchBar:focus{
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 8px;
}


.filters{
    display: flex;
    grid-column: 2/4;
    margin-left: 20px;
    gap: 1em;
    
}

.filters div, .filters button{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 2.5em;
    max-height: 2.5em;
    
    color: var(--black);
    background-color:var(--yellow);
    font-size: 1em;
    
    border-radius: 50px;
    cursor: pointer;
    user-select: none;
    overflow: hidden;
    
}

.filters button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    align-self: center;
    border-style: none;
    border-left: .5em solid var(--yellow);
    border-right: .5em solid var(--yellow);
    
}
.filters button:hover{
    color: var(--white-hover);
    background-color: var(--blackHover);
    border-left: .5em solid var(--blackHover);
    border-right: .5em solid var(--blackHover);
    width: 100%;
    height: 100%;
}

#sortBtn:hover i{
    color: var(--yellow);
}

#sortBtn i{
    font-size: 1.5em;
    margin-left: 2px;
    color: var(--black);
}

#sortBtn i:hover{
    color: var(--white);
}

.bold{
    font-weight: 600;
    margin-right: 3px;
}

.filters h4{
    font-weight: 400 !important;
}

#sortingOptions{
    /* display: flex; */
    display: none;
    white-space: nowrap;
    
}

#sortingOptions span{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    align-self: center;
    border-left: .5em solid var(--yellow);
    border-right: .5em solid var(--yellow);
}

#sortingOptions span:nth-child(1){
    background-color: var(--yellow);
    border-left: .5em solid var(--yellow);
}

#sortingOptions span:last-child{
    background-color: var(--yellow);
    border-right: .5em solid var(--yellow);
}

#sortingOptions span:nth-child(1):hover,#sortingOptions span:last-child:hover{
    color: var(--white-hover);
    background-color: var(--blackHover);
    border-color: var(--blackHover);
   
}

#sortingOptions span:hover{
    color: var(--white-hover);
    background-color: var(--blackHover);
    border-left: .5em solid var(--blackHover);
    border-right: .5em solid var(--blackHover);
}


.content{
    background-color: var(--light-gray);
    display: grid;
  
    gap: 1em;
    align-content: flex-start;    
    
    padding: 20px;
    overflow-y: scroll;
    
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 40px 1fr;
    
    
}

.main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: scroll;
    
    /* grid-template-rows: repeat(auto-fill, minmax(0,450px));
    grid-template-columns: repeat(auto-fill, 320px); */
    justify-content: flex-start;
  

    gap: 1.2em;
    grid-column: 1/2;
    grid-row: 2/4;
    border-radius: 5px;
    
    
}


.sidebar{
    grid-column: 2/3;
    grid-row: 1/4;
    display: grid;
    grid-template-rows: auto 3fr auto 5fr;
    gap: 1em;
    flex-direction: column;
    width: 250px;
    min-height: 80vh;
}

#expandSidebar{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background-color: var(--black);
    
    height: 100%;
    width: 40px;
    border-radius: 5px;
    
    grid-column: 2/3;
    grid-row: 1/4;
    cursor: pointer;
    
}
#hideSidebarBtn{
    cursor: pointer;
    user-select: none;
}
#expandSidebar *{
    font-weight: 400;
    font-size: 16px;
    color: var(--white);
    transform: rotate(90deg);
    width: max-content;
    user-select: none;
    
}

#expandSidebar:hover{
    background-color: var(--blackHover);
}
#recipesOptions{
    display: flex;
    gap: 1em;
    height: max-content;
    grid-row: 1;
    
    cursor: pointer;
    
}
.banner{
    background-color: var(--black);
    border-radius: 5px;
    width: 100%;
    color: #E2E8F0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    user-select: none;
    
}

.banner:hover{
    background-color: var(--blackHover);
}

.clicked:hover{
    background-color: var(--yellow);
}

.clicked{
    background-color: var(--yellow);
    width: 100%;
    color: var(--black);
    font-weight: 600;
  
}
.aboutMe, .trending{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    
}



.card{
    max-width: 450px;
    width: clamp(200px,350px,450px);
    max-height: 600px;
    height: 270px;
    
    
    flex-shrink: 1;
    flex-grow: 1;
    
    /* display: grid; */
    display: none;
    
    border-radius: 5px;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    
    grid-template-columns: 5fr 3fr;
    grid-template-rows: auto;
    align-items: center;
    
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    
}

.visible{
    display: grid;
}

.card:hover{
    background-color: var(--white-hover);
}
.card >div:nth-child(1){
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 0px 20px 20px;
    grid-column: 1;

}
.cardImg{
    width: 120px;
    height:100%;
    justify-self: flex-end;
    grid-column: 2;
    
}
.cardImg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    user-select: none;
}

.cardStats{
    display: flex;
    gap: 10px;
    
}
.cardStats >div{
    display: flex;
    gap: 5px;
    user-select: none;
}
.cardInfo h1{
    font-weight: bolder;
    overflow:hidden;
    
    -webkit-box-orient: vertical;
    display: block;
    display: -webkit-box;
    overflow: hidden !important;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
}
.cardInfo p{
    color: var(--gray);

    overflow:hidden;
    max-height: 8rem;
    -webkit-box-orient: vertical;
    display: block;
    display: -webkit-box;
    overflow: hidden !important;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
}

.cardTags{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    user-select: none;
    
}

.cardTags >*{
    padding: 5px 15px;
    border-radius: 50px;
}
.difficulty{
    background-color: var(--dificulty);
}

.type{
    background-color: var(--type);
}



.noFoundCard{
    display: none;
    width: 100%;
    justify-content: center;
   
}

.aboutMe{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: var(--white);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.aboutMe i{
    align-self: flex-end;
    margin-right: 10px;
    cursor: pointer;
    font-size: 1.3em;
}

.aboutMe i:hover{
    color: var(--gray);
}
.aboutMe textarea{

    width: 100%;
    height: 80%;
    padding: 10px;
    
    font-size: 1em;
    
    color: var(--black);
    border-color: var(--gray);
   
    
    resize: none;
    
}

.aboutMe textarea:focus{
    outline: none;
    border-color: var(--gray);
    
}

.aboutMe textarea:read-only{
    border-color: transparent;
}

.trending{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: .8em;
    
}
.trendingItem{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    
    width: 100%;
    padding: 10px;
    
    border: solid #919191 2px;
    background-color: #ffffff;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border-radius: 5px;
    
    cursor: pointer;
    user-select: none;
}
.trendingItem:hover{
    background-color: var(--white-hover);
    color: var(--black);
}

.trendingItem:nth-child(4) h4{
    font-size: 14px;
}
.trendingItem img{
    
    object-fit: cover;
    width: 48px;
    height: 48px;
    border-radius: 50px;
}

.imgHover{
    filter: brightness(70%);
}


